.dashboard-main {
    background-color: #fafafa;
    height: 1200px;
    margin-top: 1%;
  }
  .img-dashboard {
    width: 142px;
    height: 30px;
    margin-left: 25px;
    margin-right: 70px;
  }
  
  .search-icon {
    width: 16px;
    height: 16px;
    margin-right: 15px;
  }
  .searchbar {
    width: auto;
    border: none;
  }
  .notification-icon {
    margin-right: 50px;
  }
  
  .profile-icon {
    width: 44px;
    height: 44px;
    margin-right: 12px;
  }
  
  .select-downward {
    margin-left: 15px;
  }
  
  .img-sidebar {
    max-width: 25px;
    max-height: 25px;
    color: #c8242f;
    margin: 0 10px 0 0;
  }
  
  .dashbord-sidebar-info{
    background: #fff3f4 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
  }
  
  .sidebar-detail {
    padding: 10px 0 10px 15px;
    margin: 0 0 10px 0;
  }
  
  .sidebar {
    margin-top: 25px;
  }
  
  @media (max-width: 992px) {
    .dashboard-toggle-img {
      display: none;
    }
  
    .notification-icon,
    .select-downward {
      display: none;
    }
  
    .dashboard-search-toggle {
      margin-bottom: 10px;
    }
  
    .dashboard-sidebar-toggle {
      display: none;
    }
  
    .dashbord-sidebar-info{
      width: 500px;
    }
  
    .offcanvas-title {
      max-width: 25px;
    }
  }
  
  @media (min-width: 992px) {
    .dashboard-nav-sidebar-toggle {
      display: none;
    }
  }
  
  .feature-item {
    width: 190px;
  }
  .bodyfeature {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 116px;
    border: 2px solid;
  }
  
  .allfeature {
    display: flex;
    justify-content: center !important;
    float: left;
    justify-content: space-between;
  }
  
  .main-txt {
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .dotsdata1 {
    width: 100px;
  }
  .point1 {
    background-color: #c8242f;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .point2 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #a2b86c;
  }
  .point3 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f16c20;
  }
  .point4 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ebc844;
  }
  .dotline1,
  .dotline2,
  .dotline3,
  .dotline4 {
    display: flex;
  }
  .dottext {
    font-size: 80%;
  }
  
  @media screen and (max-width: 361px) {
    .dotsdata {
      margin-left: 0%;
      margin-right: 10%;
    }
    .dotsdata2 {
      margin-left: 0%;
    }
  }
  
  
  
  .last-table {
    width: auto;
    overflow-x: auto;
    background-color: #ffffff;
  }
  .invoices {
    float: left;
    font-size: 22px;
    color: #3e3e3e;
    font-weight: 600;
    margin-top: 22px;
    margin-left: 29px;
  }
  
  .viewAll {
    float: right;
    font-size: 13px;
    font-weight: 500;
    color: #c8242f;
    margin-top: 26px;
    margin-right: 29px;
  }
  
  th {
    color: #adadad !important;
    font-weight: 500;
  }
  
  td {
    font-size: 15px;
    font-weight: 400;
    color: #3e3e3e;
  }
  
  label {
    background-color: #ebffef;
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
  }
  
  .failed {
    background-color: #fff5f5;
    color: #ff4545;
  }
  
  .pending {
    background-color: #f8f8f8;
    color: #bababa;
  }