 .dashboard-img {
    width: 142px;
    height: 30px;
    margin-left: 25px;
    margin-right: 70px;
  }
  
  .dashboard-search-icon {
    width: 16px;
    height: 16px;
    margin-right: 15px;
  }
  .searchbar {
    width: auto;
    border: none;
  }
  .dashboard-notification-icon {
    margin-right: 50px;
  }
  
  .dashboard-profile-icon {
    width: 44px;
    height: 44px;
    margin-right: 12px;
  }
  
  .dashboard-select-downward {
    margin-left: 15px;
  }
  
  .sidebarimg {
    max-width: 25px;
    max-height: 25px;
    color: #c8242f;
    margin: 0 10px 0 0;
  }


  .sidebarimg {
    max-width: 25px;
    max-height: 25px;
    color: #c8242f;
    margin: 0 10px 0 0;
  }
  
  .dashbord-sidebar-detail {
    background: #fff3f4 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
  }
  
  .sidebar-detail {
    padding: 10px 0 10px 15px;
    margin: 0 0 10px 0;
  }
  
  .sidebar {
    margin-top: 25px;
  }
  
  @media (max-width: 992px) {
    .dashboard-toggle-img {
      display: none;
    }
  
    .dashboard-notification-icon,
    .dashboard-select-downward {
      display: none;
    }
  
    .dashboard-search-toggle {
      margin-bottom: 10px;
    }
  
    .dashboard-sidebar-toggle {
      display: none;
    }
  
    .dashbord-sidebar-detail {
      width: 500px;
    }
  
    .offcanvas-title {
      max-width: 25px;
    }
  }
  
  @media (min-width: 992px) {
    .dashboard-nav-sidebar-toggle {
      display: none;
    }
  } 






  
  .below-text-col4 .small1{
    margin-left: 23px;
}
.below-text-col4 .small2{
    margin-left: 175px;
}
.below-text-col4{
    margin-bottom: 30px;
}
.btn1{
    background: transparent; 
    border: 2px solid red; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 30px;
    padding: 5px 10px;
}

.file-section{
    margin-top: 15px;
    display: flex;
    margin-bottom: 25px;
}
.small3{
    margin-top: 10px;
    margin-left: 20px;
}

.radio  {
    margin-top:10px ;
    margin-bottom: 20px;
}
.radio2{
    margin-left: 20px;
}

.row1-leftitem{
    display: flex;
    border: 1px solid red;
    width: 545px;
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 10px;
}
.row1-leftitem>h5{
    margin-top: 5px;
    margin-left: 10px;
    color: red;
}
.row1-rightitem{
    display: flex;
    border: 1px solid #00B9E1;
    width: 545px;
    margin-top: 20px;
    border-radius: 5px;
}
.snackbar-row1{
    display: flex;
}
.row1-rightitem>h5{
    margin-top: 5px;
    margin-left: 10px;
    color: #00B9E1;
}
.snackbar-row2{
    display: flex;
    margin-bottom: 30px;
}
.row2-rightitem{
    display: flex;
    border: 1px solid #00AF27;
    width: 545px;
    margin-top: 20px;
    border-radius: 5px;
}
.row2-leftitem{
    display: flex;
    border: 1px solid #FFA800;
    width: 545px;
    margin-top: 20px;
    border-radius: 5px;
    margin-right: 10px;
}
.row2-rightitem>h5{
    margin-top: 5px;
    margin-left: 10px;
    color: #00AF27;
}
.row2-leftitem>h5{
    margin-top: 5px;
    margin-left: 10px;
    color: #FFA800;
}

.left-button{
    padding: 5px 30px 7px 30px;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 10px;
    background-color: #C8242F;
    color: #FFFFFF;
    border: none;
}
.right-button{
    padding: 5px 30px 7px 30px;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 10px;
    background-color: white;
    color: #C8242F;
    border:1px solid #C8242F;
    margin-left: 20px;
}
.button{
    margin-bottom: 20px;
}
.tabs{
    display: flex;
}
.tabs-h4{
    margin-bottom: 20px;
}
.tab1{
    margin-left: 40px;
    margin-bottom: 0;
}
.tab{
    margin-left: 20px;
    margin-bottom: 0;
    color: #C8242F;
}
.horizontal{
    /* display: flex; */
    width: 1100px;
}
.hori1{
  width: 70px;
  margin: 0;
  margin-top: 0px;
  /* padding-bottom: 1px; */
  display: block;
  background-color:  red;
  height: 20px;
  border: 2px solid red;
}
.hori2{
  margin: 0px;
  height: 1px;
  display: block;
  margin-top: 12px;
}