body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #FAFAFA;
    font-family: robot;
}
.left-logo-img{
    border: 15px solid #FFFFFF;
    border-radius: 50%;
    width: 80%;
    height: auto;
    margin-top: 40px;
    justify-content: center;
}
.right-logo-img{
    margin-top: 50px;
    width: 40%;
    height: auto;
}
.col-right-css{
    margin-left: 50px;
}
.text{
    font-size: 35px;
    margin-top: 20px;
    font-style: Roboto, Light;
}
.text2 {
    font-style: Roboto, Light;
    font-size: 35px;
}
.text b{
    
    color: #C8242F;
}
.col-right-css>h4{
    font-size: 22px;
    font-style: Roboto;
}
.text-field{
    margin-top: 20px;
    width: 80% ;
}
.login-btn{
    margin-top: 20px;
    border-radius: 30px;
    padding: 3px 25px 5px 25px; 
    background-color: #C8242F;
    color: white;
    font-size: 19px;
    border: none;
    margin-bottom: 15px;
    width: 122px;
    height: 48px;


}
span{
    margin-left: 210px;
    font-size: 14px;
    font-weight: 400;
    color: #ADADAD;
}
.bottom{
    font-size: 14px;
    font-weight: 400;
    color: #ADADAD;
}
.bottom>a{
    text-decoration: none;
    color: red;
}

