/* Navbar Style  */

@media screen and (max-width: 992px) {

  .user-pic,
  .user-profile {
    display: none;
  }
}

li>p {
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .menu {
    text-align: center;
  }
}

@media screen and (max-width: 406px) {
  #temp {
    display: none !important;
  }
}

#nav-bar ul:nth-child(1) {
  display: flex;
  flex-direction: row;
}

#navbar-toggler-btn {
  box-shadow: none;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.searchByFilter {
  border-left: 1px solid #D9D9D9;
}

.searchByFilter:nth-last-child(1) {
  padding-right: 30px;
  border-right: 1px solid #D9D9D9;
}

@media (min-width: 992px) {
  .searchByFilter:nth-last-child(1) {
    padding-right: 50px;
  }
}

@media (min-width: 1200px) {
  .searchByFilter:nth-last-child(1) {
    padding-right: 60px;
  }
}

@media (min-width: 1400px) {
  .searchByFilter:nth-last-child(1) {
    padding-right: 80px;
  }
}

@media (max-width: 767px) {
  .searchByFilter {
    border: none;
  }

  .searchByFilter:nth-last-child(1) {
    border: none;
  }
}

@media (max-width: 575px) {
  #search-icon {
    display: none;
  }

  #search-inp> ::placeholder {
    font-size: 4vw;
  }
}

/* @media (max-width: 490px) { 
      .missionGridList{
        flex-wrap: wrap;
      }
   } */


 /* City ,Skills ,Theme scrollable menu */
   .dropdown-menu{
    height: auto; 
    max-height: 200px;
    overflow-x: hidden;
  }

.missionGridList {
  flex-wrap: wrap;
}

.filterMission .items {
  border: 1px solid gray;
  border-radius: 24px;
  margin-top: 5px;
  margin-right: 10px;
  height: 40px;

}

.filterMission .items img {
  height: 15px;
  width: 15px;
}

.filterMission .items p {
  font-size: 14px;
}

.filterMission {
  flex-wrap: wrap;
}

.leftbar {
  margin-top: 10px;
}

#missionCount {
  font-size: 30px;
  font-family: NotoSans-Regular, ;
  color: #414141;
}

.grid {
  margin-left: 5px;
  height: 40px;
  width: 35px;
  /* background-color: rgb(232, 232, 232); */

}

.list {
  margin-left: 5px;
  height: 40px;
  width: 35px;
  /* background-color: rgb(232, 232, 232); */
}

#gridimg {
  width: 25px;
  height: 25px;
  /* margin-top: 15px; */
}

#listimg {
  width: 21px;
  height: 18px;
  margin-top: 11px;
}

.sortItem {
  border: 1px solid black;
}

.rateData {
  font-size: 20px;
}







/* Card CSS  */

.card {
  margin-bottom: 1rem;
}

.list-view .row>[class*=col-] {
  max-width: 100%;
  flex: 0 0 100%;
}

.list-view .card {
  flex-direction: row;
}

@media (max-width: 575.98px) {
  .list-view .card {
    flex-direction: column;
  }
}

.list-view .card>.card-img-top {
  width: auto;
}

.list-view .card .card-body {
  display: inline-block;
}

/* inside card location,person,heart start */

.c1-location {
  /* position: absolute; */
  top: 10px;
  right: 10px;
  border-radius: 1rem;
  background-color: rgb(0, 0, 0, 0.35);
  color: white;

}

.card-img-top {
  height: 100%;
  object-fit: cover;
}

.c1-heart {
  bottom: 70px;
  right: 10px;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.35);

}

.c1-person {
  bottom: 20px;
  right: 10px;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.35);
}

#mission-deadline {
  /* background-color: white; */
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

#mission-theme {
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}


/* inside card location,person,heart  */


/* Footer CSS  start */

.copyright {
  padding: 28px 0;

}

.copyright span,
.copyright a {
  color: #414141;

}

.copyright a:hover {
  color: #007bff;
}

.copyright-menu ul {
  text-align: left;
  margin: 0;
}

.copyright-menu ul li a {
  text-decoration: none;
}

.rights {
  text-align: right;
}

.copyright-menu li {
  display: inline-block;
  padding-left: 20px;
}


/* Footer css end  */








/* Filter Button CSS start  */

.filter-list {
  /* padding:6px 10px;  */
  background-color: white;
  border: 1px solid #808080;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
}

.filter-close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-left: 5px;
  color: #888;
}
.filters-section{
  margin-top:2%;
}

/* Filter Button CSS end */
