/* inside card location,person,heart  */

.c1-location {
    /* position: absolute; */
    top: 10px;
    right: 10px;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0, 0.35);
    color: white;

}

.card-img-top {
    height: 100%;
    object-fit: cover;
}

.c1-heart {
    bottom: 70px;
    right: 10px;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.35);

}

.c1-person {
    bottom: 20px;
    right: 10px;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.35);
}

#mission-deadline {
    /* background-color: white; */
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

#mission-theme {
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}



/* Right part Boxes css  */
.box {
    /* width: 190px; */
    /* width: 21%; */
    height: 140px;
    /* background-color: aqua; */
    border: 1px solid rgb(234, 223, 223)
}





/* Carousel part css  */

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}




/* Mission Tab CSS  */

body {
    padding : 10px ;
    
  }
  
  #exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  #exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
  }
  
  #exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  }
  
  
  /* Files 1  css in Documents  */
  .file{
        border: 1px solid rgb(220, 204, 204);
  }
  
  
  
  /* Filter Button CSS start  */

.filter-list {
    /* padding:6px 10px;  */
    background-color: white;
    border: 1px solid #808080;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
  }
  
  .filter-close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    color: #888;
  }
  .filters-section{
    margin-top:2%;
  }

  .dropdown-menu{
    height: auto; 
    max-height: 200px;
    overflow-x: hidden;
  }
  
  /* Filter Button CSS end */












  